.playlists{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    align-items: center;
    /* padding: 10px; */
    margin-bottom: 80px;
    color: #fff;
}
    

.playlists .section1{
    width: 700px;
    max-height: 500px;
    overflow-y: auto;
    /* border: 1px solid black; */
    padding: 10px;

}
.playlists .section1 .btn-generatePlaylist{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.btn{
    cursor: pointer;
}
.playlists .section1 {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    width: 97%;
    height:250px;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0px;
    overflow-x: scroll;

    
}
.playlists .section1{
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
      
}
.playlists .section1 .section1__song{
    width: 200px;
    height: 250px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #282828;
    border-radius: 10px;
    color: rgb(208, 208, 208);
    box-shadow: 2px 1px 10px #000;
    opacity: 0.7;
    cursor: pointer;
}
.playlists .section1 .section1__song:hover{
    opacity: 1;
}
.playlists .section1 .section1__song img{
    cursor: pointer;
    width: 180px;
    height: 140px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 1px 5px #000;
}
.playlists .section1 .section1__song p{
    padding: 10px;
}
.playlists .section1 .section1__song .section1__title{
    color: #fff;
    font-weight:  500;
}
.loading{
    border : 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;    
    
}
.playlists .section2{
    width: 600px;
    height: 300px;
    /* border: 1px solid black; */
    margin-bottom:10px;
}
